---
import Layout from "../layouts/Layout.astro"
import MaximCarouselContainer from "../components/MaximCarouselContainer";
---

<Layout title="NeoMatrix">
	<main>
				<div class="max-w-[375px] mx-auto mt-4 md:max-w-[684px] md:mx-auto">
					<MaximCarouselContainer client:load />
				</div>
	</main>
</Layout>
