---
import Layout from "../layouts/Layout.astro"
import Maxim from "../components/maxim"
// import CategoriesSection from "../components/landing/CategoriesSection.tsx"
import ContentSection from "../components/landing/ContentSection.tsx"
// import BasicSection from "../components/landing/BasicSection.tsx"
// import TestimonialSection from "../components/landing/TestimonialSection.tsx"
// import FooterSection from "../components/landing/FooterSection.tsx"
---

<Layout title="NeoMatrix">

    <main>
        <h1 class="text-center text-2xl font-bold mt-10 dark:text-white mb-10">Landing Page</h1>
        <Maxim client:only="react" index={0} onNext={() => {}} />
        <!-- <CategoriesSection client:only="react" /> -->
        <ContentSection client:only="react" />
        <!-- <BasicSection client:only="react" /> -->
        <!-- <TestimonialSection client:only="react" /> -->
        <!-- <FooterSection client:only="react" /> -->
      </main>
</Layout>
