---
import Layout from "../layouts/Layout.astro"
import NoteComponent from "../components/note.tsx"
---

<Layout title="Note">
	<main>
			<div class="mt-4 sticky max-w-[375px] mx-auto md:max-w-[684px] md:mx-auto top-0 z-10">
				<NoteComponent client:load />
			</div>
	</main>
</Layout>